.App {
  text-align: center;
}
.Main_div{
background-color: #5d3ab7;
padding:10px;
display: flex;

}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */
@media (min-width:310px) and (max-width:1024px){
  .Main_div{ display: flex;
  flex-direction: column;
  
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
